.DS_Store
**/.DS_Store
.obsidian/
*.log
**/*.log
**/logs
.zsh_history
coverage.xml
.coverage
htmlcov/
test.txt
**/tmp
deprecated/
workspace/admin/
workspace/ai/
workspace/proposal/
workspace/proposal/closed/
venv/
.venv/
*.pyc
__pycache__/
.pytest_cache/
dist/
build/
*.egg-info/
.mypy_cache/
